nav li {
  list-style: none;
  display: inline;
  font-weight: bold;
  padding: 5px;
  background-color: black;
}
a:link {
  text-decoration: none;
  color: white;
}

.par-1 {
  background-color: rgb(156, 12, 156);
}

.par-2 {
  background-color: rgb(10, 126, 37);
}
